
.navbar {
    font-family: Arial, sans-serif;
    background-color: white;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 60px;
    z-index: 2;
    display: flex;
    justify-content: space-between;
}

.nav-left {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 70px;
    padding-right: 40px;

}

.nav-left p:last-child {
    font-size: 13px; color: rgb(181, 145, 28);
}

.nav-right a {
    margin-left: 30px; 
    color: black; 
    text-decoration: none;
    font-size: 13px;
}

.nav-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 800px;
    z-index: 1;
}


.banner-slogan-container {
    color: white;
    position: absolute;
    top: 23vh;
    z-index: 1;
    left: 80px;
    right: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 42px;
    letter-spacing: 11px;
    font-weight: 100;
}

.banner-slogan-container div {
    padding-top: 16px;
}

.main-container {
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 700px;
    left: 0px;
    right: 0px;
    height: 800px;
    z-index: 3;
}

.middle-section {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 60px;
    padding: 80px 80px 40px 80px;
}

.services-div {
    background-color: #af9453; 
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(248, 245, 227);
    font-size: 18px;
    letter-spacing: 5px;
}

.discover-button {
    background-color:#af9453; 
    color: rgb(248, 245, 227); 
    border-radius: 0; 
    border: white solid 1px;
    margin-top: 20px;
    margin-bottom: 80px;
    padding-left: 2px;
    padding-right: 2px;
    width: 70%;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 11px;
}

.mid-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #af9453;
    flex: 1;
    width: 100%;
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 20px;

}

.mid-right {
    flex: 2.5;
    min-width: 250px;
}

.bottom-mid-section {
    background-color: rgb(255, 255, 255); 
    padding: 40px 80px 60px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;
    align-items: center;
    font-size: 25px;
    font-weight: 100;
    letter-spacing: 5px;
}

.floating-section {
    background-color: #af9453;
    color: white;
    position: absolute;
    top: 228vh;
    right: 90px;
    height: 420px;
    width: 25%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.floating-card {
    background-color: #af9453; 
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(248, 245, 227);
    font-size: 18px;
    letter-spacing: 5px;
    margin-bottom: 20px;
    margin-top: 60px;
}

.floating-section p {
    color: rgb(248, 245, 227);
    letter-spacing: 3.5px;
}


.mid-base-image {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    position: fixed;
    left: 60px;
    right: 60px;
    top: 290px;
    bottom: 1px;
}

.footer-container {
    background-color: white;
    position: absolute;
    margin-top: 292vh;
    height: 200px;
    width: 100%;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer {
    background-color: #af9453;
    width: 88%;
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: white;
}


.consult-button {
    border-radius: 0;
    border: solid white 1px;
    background-color: #af9453;
    color: white;
    font-size: 9px;
    padding: 10px;
}

.footer div {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    border-right: solid white 1px;
    flex: 1;
}